.page_body {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  font-family: "PT Sans", "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px; 
  text-transform: uppercase;
}

/*Colors*/
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-gray-color: #333333;
  --light-blue-color: #81b3d2;
  --light-brown-color: #766357;
  --light-beige-color: rgba(255, 255, 255, 0.9);
  --brown-color: #604e43;
  --dark-brown-color: #503e33;
  --silver-color: #cacaca;
  --beige-color: #f2f2f2;
  --another-gray-color: #6a6a6a;
  --light-gray-color: #ababab;
  --red: #ff0000;
  --almost-white-color: #f2f2f2;
  --almost-gray: #666666;
}

/*-----index_style----*/

.page {
  height: 100%;
  width: 1280px;
  background-color: var(--beige-color);
}

.page_main {
  display: grid;
  outline: 5px solid rgb(47, 22, 189);

}

.firstsection {
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 4fr min-content;
  background-color: var(--white-color);
  outline: 5px solid rgb(211, 141, 35);
}

.header_nav_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header_nav {
  width: 1055px;

}

.header_nav_link {
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
  text-decoration: none;
}


.text_description {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
  text-align: center;
}

.subtext {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-gray-color);
}

.section_item:first-child {
  width: 100%;
}

.section_sublist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgb(231, 14, 32);
}

.section_smalltitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--black-color);
}

.section_text {
  line-height: 21px;
  color: var(--dark-gray-color);
}

.section_search {
  text-align: center;
}

.search_text {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black-color);
}

.search_subtext {
  line-height: 24px;
  color: var(--black-color);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgb(15, 15, 14);
}

.section_contacts {
  justify-self: center;
}
.social {
  justify-self: center;
}
.copyrite {
  justify-self: center;
}

.button {
  color: var(--white-color);
  text-transform: uppercase;
}

.label_text,
.dates {
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.form_button {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--white-color);
  text-transform: uppercase;
}

.contact_subtitle,
.contact_text {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.copyrite_text {
  line-height: 26px;
}

/* Catalog_style*/

.container {
  min-width: 1055px;
  margin: 0 auto;
}

.name_form {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: var(--white-color);
}

.form_flat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid gray;
}



.label_sort_text {
  line-height: 21px;
  color: var(--white-color);
}

.button_catalog {
  line-height: 21px;
  color: var(--white-color);
  text-transform: uppercase;
}

.sort_text {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
  
}

.radio_text {
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  color: var(--light-blue-color);
}

.content_text {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.content_subtext {
  line-height: 21px;
  color: var(--dark-gray-color);
}

.rating {
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--almost-gray);
}


.subbutton {
  background-color: var(--light-brown-color);
  text-transform: uppercase;
}

.firstbutton {
  background-color: var(--light-blue-color);
  text-transform: uppercase;
}

.social_item {
  background-color: var(--light-blue-color);
}
