.page_body {
  font-family: "PT Sans", "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px; 
  text-transform: uppercase;
  /* text-align: center; */
}

/*Colors*/
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-gray-color: #333333;
  --light-blue-color: #81b3d2;
  --light-brown-color: #766357;
  --light-beige-color: rgba(255, 255, 255, 0.9);
  --brown-color: #604e43;
  --dark-brown-color: #503e33;
  --silver-color: #cacaca;
  --beige-color: #f2f2f2;
  --another-gray-color: #6a6a6a;
  --light-gray-color: #ababab;
  --red: #ff0000;
  --almost-white-color: #f2f2f2;
  --almost-gray: #666666;
}

/*-----index_style----*/

li {
  list-style: none;
}

.header_nav_item,
.section_item,
.social_item,
.sort_item,
.content_item {
  list-style: none;
}

.header_nav_link {
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
  text-decoration: none;
}


.text_description {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.subtext {
  line-height: 26px;
  text-transform: uppercase;
  color: var(--dark-gray-color);
}

.section_smalltitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--black-color);
}

.section_text {
  line-height: 21px;
  color: var(--dark-gray-color);
}

.search_text {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black-color);
}

.search_subtext {
  line-height: 24px;
  color: var(--black-color);
}

.button {
  color: var(--white-color);
  text-transform: uppercase;
}

.label_text,
.dates {
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.form_button {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--white-color);
  text-transform: uppercase;
}

.contact_subtitle,
.contact_text {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.copyrite_text {
  line-height: 26px;
}

/* Catalog_style*/

.name_form {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: var(--white-color);
}

.label_sort_text {
  line-height: 21px;
  color: var(--white-color);
}

.button_catalog {
  line-height: 21px;
  color: var(--white-color);
  text-transform: uppercase;
}

.sort_text {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
  
}

.radio_text {
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  color: var(--light-blue-color);
}

.content_text {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--black-color);
}

.content_subtext {
  line-height: 21px;
  color: var(--dark-gray-color);
}

.rating {
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--almost-gray);
}

.button {
  color: var(--white-color);
  text-transform: uppercase;
}

.subbutton {
  background-color: var(--light-brown-color);
  text-transform: uppercase;
}

.firstbutton {
  background-color: var(--light-blue-color);
  text-transform: uppercase;
}

.social_item {
  background-color: var(--light-blue-color);
}
